.AboutContainer {
  
    background-color: black;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: relative;
  
}

/* .aboutme-header {
  min-height: 100vh;
} */


.header {
  text-align: center;
  /* margin-top: 3rem; */
}

.aboutMeText {
  border: 1px solid red;
  border-radius: 15px;
  background-color: black;
  text-align: center;
  padding: 1rem;
  top: 35%;
  left: 25%;
  right: 25%;
  margin: 3rem;
}


