.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
    background-color: grey !important;
}

.css-10hburv-MuiTypography-root {
    text-align: center !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    font-family: monospace,sans-serif !important;
    font-weight: 400;
    font-size: 2rem !important;
    line-height: 1.25 !important;
    letter-spacing: 0.00938em;
    display: block;
}
