.homeIntroContainer {
    text-align: center;
    align-items: center;

}

.name {
    /* border: 1px solid blue; */
    margin-right: 300px;
    font-family: monospace;
}

.title {
    /* border: 1px solid yellow; */
    margin-left: 220px;
    font-family: monospace;
}

.socials {
    display: flex;
    justify-content: space-around;
    margin-top: 10rem;
  }