

/* page styles */
.ProjectsPageStyles {
  position: absolute;
  top: 0;
  background-color: #242424;
  min-height: 100vh;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.pageHeader {
  top: 1rem;
}

/* project display section layout */
.project-section-area {
  display: grid;
  grid-template-columns: 30vw 30vw;
  grid-auto-flow: row;
  gap: 4rem;
  justify-items: center;
  align-items: center;
  margin: 5rem 0 5rem 0;
}

/* container for each project */
.project-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 20rem;
}

/* styles for project picture and effects */
.project-picture {
  /* border: 5px solid black; */
  background-color: rgb(40, 40, 51);
  color: white;
  min-height: 22rem;
  max-height: 22px;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  justify-content: center;
  display: flex;
  flex-direction: row;
  position: relative;
  text-align: center;
  /* box-shadow: 1px 1px 2px #eeff04; */
  cursor: default;
  opacity: .7;
}

.githubMark {
  position: absolute;
  bottom: 1rem;
  left: 3rem;
  z-index: 1;
}

.livesiteMark {
  position: absolute;
  bottom: 1rem;
  right: 3rem;
  z-index: 1;
}

.project-picture .mask {
  width: 100%;
  position: absolute;
  min-height: 22rem;
  max-height: 22px;
  overflow: hidden;
  top: 0;
  left: 0;
}

.project-picture h4 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0;
}

.project-picture p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: black;
  padding: 10px 20px 20px;
  text-align: center;
}

.project-picture a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
}

.project-picture a.info:hover {
  box-shadow: 0 0 5px #000;
}

.project-picture:hover {
  margin-top: -1rem;
  margin-bottom: 0;
  transition: all 0.2s;
  background-blend-mode: soft-light;
  /* border: 5px solid #eeff04; */
}

.view-first img {
  transition: all 0.2s linear;
}
.view-first .mask {
  opacity: 0;
  background-image: linear-gradient(to top, rgb(255, 249, 0, 0), 60%, rgba(238,255,4) );
  transition: all 0.4s ease-in-out;
}
.view-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.view-first p {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
}
.view-first a.info {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

/* hover effect for info display */
/* .view-first:hover img {
  transform: scale(1.1);
} */
.view-first:hover .mask {
  opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
  opacity: 1;
  transform: translateY(0px);
}
.view-first:hover p {
  transition-delay: 0.1s;
}
.view-first:hover a.info {
  transition-delay: 0.2s;
}

.project-picture img {
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

/* .project-name-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  max-height: 100%;
} */

/* .description-container {
  background-color: tan;
  border: 1px solid white;
  border-radius: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 8rem;
  margin-top: 1rem;
  margin-left: 2rem;
  height: 8rem;
  min-height: 100%;
  max-height: 100%;
} */

@media screen and (max-width: 1920px) {
  .project-container {
    width: 100%;
    min-height: 20rem;
  }

  .project-section-area {
    display: grid;
    grid-template-columns: 30vw 30vw;
    gap: 8rem;
  }
}

@media screen and (max-width: 768px) {
  .project-section-area {
    display: grid;
    grid-template-columns: 75vw;
  }

  h1 {
    color: green;
  }
}

@media screen and (max-width: 390px) {
  .project-section-area {
    display: flex;
    flex-direction: column;
    width: 75%;
  }

  h1 {
    color: yellow;
  }
}
