.box-item {
  border: 5px solid black;
  background-color: rgb(40, 40, 51);
  color: white;
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(30%);
  align-items: center;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
  border-radius: 3rem;
}

.project-name-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  max-height: 100%;
}

.div-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 25px 0;
  padding: 10px 0;
}

#dailymealplannerPhoto {
  background-image: url("../../public/assets/project-1-pic.png");
  background-position: center center;
  background-size: cover;
}

#workdayplannerPhoto {
  background-image: url("../../public/assets/planner.png");
  background-position: center center;
  background-size: cover;
}

#passwordgeneratorPhoto {
  background-image: url("../../public/assets/password-generator.png");
  background-position: center center;
  background-size: cover;
}

#codequizPhoto {
  background-image: url("../../public/assets/code-quiz.png");
  background-position: center center;
  background-size: cover;
}

#notepadPhoto {
  background-image: url("../../public/assets/note-pad.png");
  background-position: center center;
  background-size: cover;
}
