.footerContainer {
    position: absolute;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    bottom: 0;
}

.footer {
    margin-bottom: 1rem;
    font-size: 14px;
    color: white;
    text-align: center;
    cursor: default;
}