
.homeIntroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: default;

}

.nameAndTitle {
  text-align: center;
  font-family: monospace;
  z-index: 1;
}

.name {
  margin-bottom: 1rem;
}

.title {
  margin-bottom: 3rem
}
